/* Geting Google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* 
---------------------------------------------
CSS RESET & GLOBAL STYLE
--------------------------------------------- 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 60.25%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

/* 
---------------------------------------------
body
--------------------------------------------- 
*/
body {
  height: 100vh;
  font-size: 1.6em;
  display: flex;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
/* 
---------------------------------------------
Table
--------------------------------------------- 
*/
.table-area {
  overflow-x: auto;
  align-self: center;
  margin: auto;
}
table {
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  color: #373049;
}
table tr th {
  background-color: #373049;
  color: white;
  font-weight: 400;
}
table th,
td {
  padding: 10px 40px;
  white-space: nowrap;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #f3f3f3;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
table tr:hover {
  background-color: rgb(230, 230, 230);
}
